.cardText { fill: #363895; stroke: none; }
.cardBackground { fill: #FFFFFF; stroke: #000000; }
.cardCompanyName { fill: #363895; stroke: none; }
.cardUrl { fill: #363895; stroke: none;}
.cardSeperator { stroke: #363895; }
.cardTab { stroke: #000000; fill: #363895; }
.cardTab text { fill: #FFFFFF; stroke: none; }
